*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f4f7f6;
    color: #333;
    padding: 20px;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.success{
    background-color: #0f4900;
    color: #000000;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.erro{
    background-color: #e74c3c;
    color: black;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.container{
max-width: 900px;
margin:0 auto;
background: white;
padding: 30px;
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0,0,0,0.1);

}
.login-container{
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    width:300px; 
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 25px; 
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th,td{
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th{
    background-color: #f8f9fa;
    font-weight: 600 ;
}
tr:hover{
    background-color: #f1f1f1;
}
input[type='text']{
    padding:8px; 
    border:1px solid #ccc;
    border-radius: 4px;
    outline: none; 
}
h1,h3{
    margin-bottom: 20px;
    color:#2c3e50 
}
h2{
    text-align: center;
    color: #333;
}
.input-group{
    margin-bottom:15px ;
}
input{
    width:100%;
    padding: 8px;
    box-sizing: border-box;
    border:1px solid #ddd; 
    border-radius: 4px; 
}
button{
    padding: 8px 12px;
    font-weight: 500; 
    transition: 0.3s; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-edit{
   background-color: #249e05;
   color: white;
   margin-top: 5px;
   padding:5px;

}
.btn-delete{
    background-color: #e74c3c;
    color:white;
    padding:5px;
}
.btn-logout{
    background-color: #95a5a6;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px; 
    margin-left:10px ;
    margin-bottom:12px ;
}